<h1>Create an account!!!</h1>

<form class="" action="<%= users_url %>" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" name="user[username]" value="">
  <br>
  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]" value="">
  <br>
  <input type="submit" name="" value="Create account!">
</form>